*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    top: 0;
    font-family: 'Times New Roman', Times, serif, arial;
    font-size: 14px;
    background-color:#efdec2 ;
}
.header{
    background-color: #99C9DD;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 4px #c8e4f0;
    z-index: 1;
}
.header .container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 100;
}
.header .logo{
    color: #99C9DD;
    text-align: center;
    padding: 0.2%;
    flex-grow: 1;
}

.header .logo img{
    width: 150px;
    margin: 0 auto;
    border-radius: 10px;
}

.header .menu{
    text-align: center;
    padding: 1%;
    flex-grow: 8;
    font-size: 20px;

}
.menu > nav{
    background-color: chocolate;
    border-radius: 8px;
    padding: 3%;

}
.menu .items > li{
    display: inline-block;
    padding: 0% 2%;
    font-size: 18px;
    list-style: none;
}
.items > li a{
    color: black;
    text-decoration: none;
}
.items > li a:hover{
    color: burlywood;
    font-size: 19px;

}


/***MAIN***/

.main h1{
    width: 40%;
    padding: 1%;
    font-size: 55px;
    font-weight: 500;
    margin-top: 1%;
}
.titulo1{
    color: #F7E9D9;
    text-align: center;
    margin-bottom: 2%;
    font-family: italic;
    margin-top: 0.1%;
    
}
.titulo1:hover{
    text-shadow: 0 0 5px #CA448D,0 0 10px #CA448D, 0 0 15px #F7E9D9, 0 0 20px #F7E9D9, 0 0 25px #F7E9D9, 0 0 30px #F7E9D9;
}
/*Secciones*/
.container_titulos{
    background-color:chocolate ;
    margin: 0 auto;
    height: auto;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 50%;
    border-radius: 10px;
    
}
.titulos_paginas{
    color: #F7E9D9;
    text-align: center;
    margin-bottom: 2%;
    font-family: italic;
    margin-top: 0.1%;  
}
.titulos_paginas:hover{
    text-shadow: 0 0 5px #CA448D,0 0 10px #CA448D, 0 0 15px #F7E9D9, 0 0 20px #F7E9D9, 0 0 25px #F7E9D9, 0 0 30px #F7E9D9;
}
.subtitle1{
    color: #CA448D;
    font-family: italic;
}
.subtitle1:hover{
    text-shadow: 0 0 5px #CA448D,0 0 10px #CA448D, 0 0 15px #F7E9D9, 0 0 20px #F7E9D9, 0 0 25px #F7E9D9, 0 0 30px #F7E9D9;
}
.containers{
    padding: 2%;
    margin-top: 2%;
}

.up{
    width: 8%;
    margin: 2% 2% 2% ;
    padding: 1%;
    background-color: #c77d26;
    border: 1px solid #c77d26;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    float: right;
}
.up:hover{
    background-color: #583319;
    font-weight: 500;
}

.container_qhacemos .text_quehacemos{
    font-size: 24px;
    text-align: justify;
}
.subtitle{
    font-size: 30px;
    color: #CA448D;
    text-align: center;
    margin-bottom: 2%;
    font-family: italic;
    margin-top: 0.1%;
    margin-bottom: 1.5%;
    padding: 12px;
    margin-top: 4%;
    border-bottom: 1px solid #c77d26;
}
.subtitle:hover{
    text-shadow: 0 0 5px #CA448D,0 0 10px #CA448D, 0 0 15px #F7E9D9, 0 0 20px #F7E9D9, 0 0 25px #F7E9D9, 0 0 30px #F7E9D9;
}

.container_ubicaciones .text_ubicaciones{
    font-size: 24px;
    text-align: justify;
}
.container_ubicaciones .publicidad > img{
    width: 25%;
    height:auto;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    margin-top: 2%;
    transition: all 0.5s ease;
    cursor: pointer;
}
.container_ubicaciones .publicidad > img:hover{
    transform: scale(1.1);
    box-shadow: 5px 4px 5px #CA448D;
}

.sec_cards{
    display: inline-block;
    margin-left: 10%;
    border-color:2px pink;
    border-radius: 20px;
    padding: 2%;
    margin-bottom: 1%;
    transition: all 0.8s ease 0.2;
    cursor: pointer;
    justify-content: center;
    align-items: center;

}
.sec_cards:hover{
    border: 1px solid pink;
    background-color: pink;
    border-radius: 20px;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 3px 5px 3px #cc0774;
}
.container2{
    flex-wrap: wrap;
    justify-content: center;
    min-height: 30vh;
    
}

.card{
    position: relative;
    width: 250px;
    height: 300px;
    margin-top: 50px;
    
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
    
}
.card .front .imagen2{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 0;
}
.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #CA448D;
    background: rgb(0, 0, 0,.4);
    text-align: center;
    
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background-color: #99C9DD;
    padding: 5px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
    margin-top: auto;
    margin-bottom: auto;
    
}
.card .back .link{
    border-top:  solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
    margin-top: 5%;
}
.card .back .link a{
    color: beige;
}

.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
    color: black;
    margin-bottom: 1%;
    
}

.card .back p{
    letter-spacing: 1px;
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);

}
.redes{
    text-align: center;
}
.fa-brands{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.footer{
    width: 100%;
    background-color: #583319;
    color: white;
    margin-top: 1%;
    overflow-x: auto;
} 
.footer{
    .container_footer{
      padding-top: 2%;
      text-align: center;
      margin: 2%;
    }
}
  .container_footer > h2{
    color: white;
}
  .container_footer > li{
    list-style: none;
    text-align: center;
  
}
.container_footer > p{
    font-size: 18px;
  
}
  
.social_net > li{
    display: inline-block;
    padding: 1.5%;
  
}
.social_net > li a{
    color: white;
    text-decoration: none;
}
.nets{
  width: 40px;
}

/*Seccion de paginas*/
.ens{
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cars1{
    display: inline-block;
    width: 40%;
    height:40%;
    font-size: 150%;
    
}
.cars1 > .imagen0 {
    width: 50%;
    height: auto;
    border-radius: 10px;
    position:relative;
    object-fit: cover;
}
.imagen1 {
    width: 70%;
    height: auto;
    border-radius: 10px;
    position:relative;
    object-fit: cover;
    margin-top: 12%;
}
.cars2{
    display: inline-block;
    width: 25%;
    height: auto;
    border-radius: 10px;
    background-color: #c77d26;
    padding: 4%;
    text-align: center;
    position: relative;
    margin-top: 5%;
    font-size: 150%;
    
}
.cars3{
    display: inline-block;
    width: 30%;
    height: auto;
    font-size: 150%;
}
.cars3 > .imagen0 {
    width: 50%;
    height: auto;
    border-radius: 10px;
    position:relative;
    object-fit: cover;
}
.cars4{
    display: inline-block;
    width: 25%;
    height: auto;
    border-radius: 10px;
    background-color: #c77d26;
    padding: 4%;
    text-align: center;
    position: relative;
    margin-right: 18%;
    font-size: 150%;
    margin-top: 3%;
}
.ens2{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 4%;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.cars1 ,.cars3{
    box-shadow: 0px 1px 10px #ffd1dc;
}
.cars1 > p{
    color: #efdec2;
    margin-top: 5%;
}
.cars2 > p{
    color: #efdec2;
    margin-top: 5%;
    
}
.cars3 > p{
    color: #efdec2;
    margin-top: 5%;
}
.cars4 > p{
    color: #efdec2;
    margin-top: 5%;
}
.cars2 > h2{
    font-family: Dancing Script;
    margin-top: 5%;
}
.cars4 > h2{
    font-family: Dancing Script;
    margin-top: 2%;
}