*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #99C9DD;
    margin-bottom: 3%;
    
    
}
h1{
    color: #F7E9D9;
    text-align: center;
    margin-bottom: 2%;
    font-family: italic;
    margin-top: 0.1%;
    
}
h1:hover{
    text-shadow: 0 0 5px #CA448D,0 0 10px #CA448D, 0 0 15px #F7E9D9, 0 0 20px #F7E9D9, 0 0 25px #F7E9D9, 0 0 30px #F7E9D9;

}

nav{
    padding-top: 20px;
    font-weight: bold;
    background-color: #C77D26;
    width: 80%;
    border-radius: 12px;
    margin-left: 15%;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ul{
    display: flex;
    padding: 5px 30px;
    font-size: 20px;
    margin-right: 5%;
}
li{
    display: inline-block;
    padding: 1%;
    
    margin-right: 2%;
    margin-left: 3%;

}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: burlywood;
}
img{
    width: 180px;
    height: 180px;
    border-radius: 10px;
    margin-top: -150px;
    margin-bottom: 4%;
    margin-left: 2%;
}
#titulo2{
    text-align: center;
    color: black;
    margin: 0px 0px 50px 0px;
    
}
.wave{
    position: absolute;
    bottom: 145px;
    width: 100%;
    height: 100px;
    background-image: url(../assets/img/wave.png);
    background-size: 1000 px 100px;
}
iframe{
    width:100px; 
    height:50px  
}

#titulo3{
    text-align: center;
}

.container{
    position: relative;
    width: 100%;
    height: 57vh;
    background-image: url(../assets/img/paper-1468883_1920.jpg);
    margin-bottom: 5%;
    
}

.sec2,.sec3,.sec4,.sec5,.sec6,.sec7{
    display: inline-block;
    align-items: center;
    margin-left: 11.5%;
    border-color:black;
    border-radius: 20px;
    background-color: pink;
    padding: 1%;
    margin-bottom: 2%;

}
.container2{
    flex-wrap: wrap;
    justify-content: center;
    min-height: 30vh;
    
}

.card{
    position: relative;
    width: 250px;
    height: 280px;
    margin-top: 50px;
    
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
    
}
.card .front .imagen2{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 0;
}
.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #CA448D;
    background: rgb(0, 0, 0,.4);
    text-align: center;
    
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background-color: #99C9DD;
    padding: 5px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
    margin-top: auto;
    margin-bottom: auto;
    
}
.card .back .link{
    border-top:  solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
    margin-top: 5%;
}
.card .back .link a{
    color: beige;
}

.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
    color: black;
    margin-bottom: 1%;
    
}

.card .back p{
    letter-spacing: 1px;
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);

}
.redes{
    text-align: center;
}
.fa-brands{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}