*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #99C9DD;
    margin-bottom: 2%;
}
h1{
    color: #F7E9D9;
    text-align: center;
    margin-bottom: 2%;
    font-family: italic;
    
}
h1:hover{
    text-shadow: 0 0 5px #CA448D,0 0 10px #CA448D, 0 0 15px #F7E9D9, 0 0 20px #F7E9D9, 0 0 25px #F7E9D9, 0 0 30px #F7E9D9;

}

nav{
    display: flex;
    padding-top: 20px;
    font-weight: bold;
    background-color: #C77D26;
    width: 80%;
    border-radius: 12px;
    margin-left: 15%;
    padding: 2%;
}

ul, li{
    display: inline-block;
    padding: 5px 30px;
    font-size: 20px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: burlywood;
}
img{
    width: 180px;
    height: 180px;
    border-radius: 10px;
    margin-top: -150px;
    margin-bottom: 4%;
    margin-left: 1%;
}
#titulo2{
    text-align: center;
    color: black;
}
.wave{
    position: absolute;
    bottom: 140px;
    width: 100%;
    height: 100px;
    background-image: url(../img/wave.png);
    background-size: 1000 px 100px;
}
iframe{
    width: 400px;
    height:400px; 
    margin-left: 250px;
    
    
}
.seccion3{
    border-color:black;
    border-radius: 20px;
    background-color: pink;
    padding: 2%;
    margin: 2%;
    margin-left: 20%;
    margin-right:20%;

}
#titulo3{
    text-align: center;
}

.container{
    position: relative;
    width: 100%;
    height: 57vh;
    background-color: #EBC385;
}
.sec2{
    display: inline-block;
    margin-left: 3%;
}
.container2{
    flex-wrap: wrap;
    justify-content: center;
    min-height: 40vh;
}

.card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
.card .front .imagen2{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 0;
}
.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #CA448D;
    background: rgb(0, 0, 0,.4);
    text-align: center;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background-color: #99C9DD;
    padding: 15px;
    color: #CA448D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}
.card .back .link{
    border-top:  solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}
.card .back .link a{
    color: #EBC385;
}

.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p{
    letter-spacing: 1px;
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);

}